{% extends 'base.html' %}

{% block contenido %}
{% load static %}

<div class="container text-center">
  <h1 class="text-muted">Category: {{ categoria }}</h1>
  <div class="row" style="flex-direction: row;">
    {% for prod in productos %}
    <div class="col-md-4 mb-3">
      <div class="card " style="border: 1.8px solid #000000; background-color:rgb(243, 238, 227);">
        <img src="/{{prod.imágen}}" class="card-img-top" style="width:300px;height:300px; margin: 0 auto;"" alt="...">
        <div class="card-body" style="max-height: 200px; overflow-y: scroll;">
          <h5 class="card-title">{{ prod.nombre }}</h5>
          <p class="card-text" style="text-align: justify;">{{ prod.descripción }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-success" style="background-color: #28a745; border-color: #28a745; color: #ffffff;">Buy</button>
            </div>
            <p class="text-success font-weight-bold">{{ prod.precio }} €</p>
          </div>
      
        <span class="sp" data-product-id="{{ prod.productoid }}"></span>
        <p class="text-success font-weight-bold" style="font-family: 'Arial', sans-serif;">{{ prod.rating.puntuación }}</p>
        <p class="text-success font-weight-bold" style="font-family: 'Arial', sans-serif;">{{ prod.rating.cuenta }} votes</p>

     
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}